/*
* @Author: Yuejiaqun
* @Date:   2018-01-05 13:53:07
* @Last Modified by:   Yuejiaqun
* @Last Modified time: 2018-01-11 10:17:24
*/
@import url("base.css");

@font-face {
  font-family: 'iconfont';  /* project id 532953 */
  src: url('https://at.alicdn.com/t/font_532953_l9duybj0b12it3xr.eot');
  src: url('https://at.alicdn.com/t/font_532953_l9duybj0b12it3xr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_532953_l9duybj0b12it3xr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_532953_l9duybj0b12it3xr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_532953_l9duybj0b12it3xr.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
i{
	font-style: normal;

}
body{
	height: 23rem;
}
.f_header{
	width: 100%;
	height: 1.35rem;
	background: white;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 999;
}
.hea_nk{
	width: 9.58rem;
	height: 0.94rem;
	background: #f5f5f5;
	margin: 0.2rem auto;
	overflow: hidden;
/* 	display: flex;
	justify-content: space-between; */
}
.ssuo{
	width: 0.49rem;
	height: 0.53rem;
	display: block;
/* 	background: red; */
	margin-top: 0.18rem;
	margin-left: 0.3rem;
	float: left;
}
.icon4{
	font-size: 0.46rem;
	color: black;
	margin: 0.2rem auto;
}
.t_te{
	width: 8rem;
	height: 0.53rem;
	background:#f5f5f5;
	font-size: 0.06rem;
	margin-top: 0.2rem;
	padding-left: 2rem;
	box-sizing: border-box;
	border: 0.01rem solid #f5f5f5;

}
.t_te:focus{
	outline: none;
}
.zhuti{
	width: 100%;
	height: 11.94rem;
	background: white;
	display: flex;
}
aside{
	width: 2.29rem;
	height: 100%;
	background: #f5f5f5;
	box-sizing: border-box;
	margin-top: 2rem;


}
.fenlei{
	width: 100%;
	height: 1.65rem;
}
.fenlei li{
	width: 100%;
	height: 100%;
}
.f_text{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.36rem;
	text-align: center;
	line-height: 1.65rem;
	color: black;
}
.fenlei li:nth-child(4){
	background: white;
	border-bottom:0.05rem solid #d21826;
}
.fen_right{
    width: 7.6rem;
    height: 100%;
    margin-left: 0.6rem;
    margin-top: 2rem;

}
.fen_title{
	width: 100%;
	height: 1.5rem;
	display: flex;
	justify-content: space-between;
}
.title_zi{
	width: 0.92rem;
	height: 100%;
	background: white;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.5rem;
	color: black;	
}
.title_right{
	width: 2.2rem;
	height: 100%;
	display: block;
	color: #d91f2a;
	font-size: 0.05rem;
	text-align: center;
	line-height: 1.5rem;

}
#geli{
	width: 2.2rem;
}
.f_list{
	width: 100%;
	height: 2.8rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 0.01rem solid #f5f5f5;
	margin-bottom: 0.3rem;
}
.yanzhi{
	display: block;
	width: 2.3rem;
	height: 100%;
}
.f_list .yanzhi img{
	display: block;
	width: 100%;
	height: 2.04rem;
}
.yanzhi_zi{
	width: 100%;
	height: 0.41rem;
	color: black;
	font-size: 0.23rem;
	line-height: 0.41rem;
	text-align: center;
	margin-top: 0.2rem;

}
.tab{
	width: /* 10.5rem */100%;
	height: 1.7rem;
	margin: 1rem auto 0 ;
	background: white;
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
}
.tab_list{
	width: 1.1rem;
	height: 100%;
	display: block;
	margin-left: 0.3rem;
}
.icon2{
	font-size: 0.9rem;
	color: #333333;
	margin: 0 0.1rem;
}
.icon3{
	font-size: 0.9rem;
	color: #333333;
	margin: 0 0.1rem;
}
.icon5{
	font-size: 0.9rem;
	color: #d91f2a;
	margin: 0 0.1rem;
}
#fenlei{
	color:  #d91f2a;
}
.tab_zi{
	width: 100%;
	height: 0.49rem;
	font-size: 0.01rem;
	color: #787878;
	text-align: center;
}
